* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.home {
  width: 100%;
  height: 100vh;
  background-image: url(./images/car.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(90%);
  overflow: hidden;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.nav img {
  width: 10%;
  height: auto;
  margin-right: auto;
}

.nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: auto;
}

.nav ul li a {
  padding: 10px;
  text-decoration: none;
  color: rgb(255, 102, 55);
}

.hero-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'Gilroy-Heavy', 'Poppins', sans-serif;
  text-align: center;
  height: 100vh;
}

.hero-text h1 {
  font-weight: bolder;
  color: rgb(240, 100, 50);
  font-size: 6vw;
  margin: 20px 0;
}

.hero-text p {
  color: rgb(240, 100, 50);
  font-size: 3vw;
  font-weight: bold;
}

.btn {
  background-color: #070707;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 4px 8px orangered;
  transition: box-shadow 0.3s ease;
  margin-bottom: 50px;
}

.btn:hover {
  box-shadow: 0px 6px 12px orangered;
}

.services {
  padding: 60px 20px;
  text-align: center;
}

.services h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 32px;
}

.service_cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.title {
  font-size: 25px;
}

.card1, .card2, .card3 {
  height: 90vh;
  width: 90%;
  max-width: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
}

.card1 {
  background-image: url(./images/phone.jpg);
}

.card2 {
  background-image: url(./images/car.jpg);
}

.card3 {
  background-image: url(./images/orangcar.jpg);
}

.card1 p, .card2 p, .card3 p {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0;
}

.card1 span, .card2 span, .card3 span {
  color: white;
  font-size: 12px;
  margin: 10px 0;
}

.card1 button, .card2 button, .card3 button {
  background-color: #070707;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 4px 8px orangered;
  transition: box-shadow 0.3s ease;
}

.card1 button:hover, .card2 button:hover, .card3 button:hover {
  box-shadow: 0px 6px 12px orangered;
}

.picture img {
  height: auto;
  width: 100%;
}

.about-us {
  background-image: url(./images/car.jpg);
  background-size: cover;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  padding: 10px;
}

.about_content {
  padding-top: 100px;
  text-align: center;
}

.about-us h1 {
  color: white;
  font-weight: bold;
  font-size: 10vw;
  margin: 20px 0;
}

.about-us p {
  color: white;
  font-weight: lighter;
  font-size: 5vw;
  width: 90%;
  margin: auto;
}

.ride {
  background-image: url(./images/woman1.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  padding: 10px;
}

.content {
  padding-top: 30px;
  padding-left: 40px;
}

.ride h1 {
  color: orangered;
  font-weight: bold;
  font-size: 10vw;
  width: 90%;
  margin: auto;
  text-align: center;
}

.ride p {
  color: white;
  font-weight: lighter;
  font-size: 5vw;
  width: 90%;
  margin: 30px auto;
  text-align: center;
}

.ride button {
  background-color: #070707;
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 4px 8px orangered;
  transition: box-shadow 0.3s ease;
  display: block;
  margin: 20px auto;
}

.ride button:hover {
  box-shadow: 0px 6px 12px orangered;
}

.luxury {
  background-image: url(./images/man1.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  padding: 10px 30px;
  text-align: center;
}

.luxury h3 {
  font-size: 10vw;
  color: white;
  padding: 20% 0;
  width: 90%;
  margin: auto;
}

.luxury button {
  background-color: #070707;
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 4px 8px orangered;
  transition: box-shadow 0.3s ease;
  display: block;
  margin: auto;
}

.luxury button:hover {
  box-shadow: 0px 6px 12px orangered;
}

.blog {
  width: 100%;
  height: auto;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

h1 {
  padding: 70px 50px;
  font-size: 10vw;
  margin: auto;
}

.box1, .box2 {
  height: 60vh;
  width: 90%;
  max-width: 40%;
  display: flex;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: brightness(70%);
  margin: auto;
}

.box1 {
  background-image: url(./images/cae2.jpg);
}

.box2 {
  background-image: url(./images/cae2.jpg);
}

.box1 span, .box2 span {
  color: rgb(250, 246, 246);
  font-size: 5vw;
  width: 70%;
  margin: 100px auto;
  font-weight: bold;
  text-align: center;
}

.scan {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: url(./images/chardies.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.scan span {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  font-weight: bolder;
  text-align: center;
}

.img1 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
}

footer {
  padding: 40px 20px;
  background-color: #313131;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer img {
  width: 20%;
  height: auto;
  margin: auto;
}

.us {
  margin: 50px 0;
  text-align: center;
}

.us h2 {
  margin-bottom: 20px;
}

.us ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 30px;
}

.us ul li a {
  font-weight: bolder;
  text-decoration: none;
  color: rgb(255, 102, 55);
}

.get {
  margin-top: 70px;
  text-align: center;
}

.get a {
  text-decoration: underline;
  color: rgb(255, 102, 55);
  font-size: 22px;
  cursor: pointer;
}

/* Mobile styles (up to 600px) */
@media (max-width: 600px) {
 
}

/* Tablet styles (601px to 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
  
}

/* Desktop styles (1025px and up) */
@media (min-width: 1025px) {
  
}